#
# general gitignore
#
/.idea/
/.vagrant/
Vagrantfile.personal
*~
.DS_Store
vendor/

#
# php backend gitignore
#
/backend-php/phpunit.xml
/backend-php/var/*
!/backend-php/var/cache
/backend-php/var/cache/*
!/backend-php/var/cache/.gitkeep
!/backend-php/var/logs
/backend-php/var/logs/*
!/backend-php/var/logs/.gitkeep
!/backend-php/var/sessions
/backend-php/var/sessions/*
!/backend-php/var/sessions/.gitkeep
!/backend-php/var/SymfonyRequirements.php
/backend-php/vendor/
/backend-php/web/bundles/
!/backend-php/web/assets
/backend-php/web/assets/*
!/backend-php/web/assets/.gitkeep

/backend-php/.php_cs
/backend-php/.php_cs.cache

/backend-php/bin/symfony_requirements
/backend-php/var/SymfonyRequirements.php
/backend-php/web/config.php


#
# frontend gitignore
#
/frontend/build/
/frontend/node_modules/
/frontend/cypress/screenshots/

####################################
### AIQA CI SCRIPTS - START
###
### https://aiqa.tech
### (c)2019 AIQA Technologies
###
### ver. 0.1.29

__ci_scenarios_list.txt
__ci_parallel.log
__ci_result.txt

_ci_vars_personal.sh


/behat/aiqa.yml
/behat/aiqa.tmp
/behat/status.tmp

/frontend/aiqa.yml
/frontend/aiqa.tmp
/frontend/status.tmp

###
### AIQA CI SCRIPTS - STOP
####################################
