<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src')
    ->in(__DIR__ . '/../behat/features/bootstrap')
;

$rules = [
    '@PSR2' => true,
    '@Symfony' => true,
    "concat_space" =>  ["spacing" => "one"],
    'phpdoc_summary' => true,
    'no_empty_phpdoc' => true,
    'new_with_braces' => true,
    'no_empty_comment' => true,
    'phpdoc_var_without_name' => true,
    'cast_spaces' => true,
    'trailing_comma_in_multiline_array' => true,
    'no_blank_lines_after_class_opening' => true,
    'short_scalar_cast' => true,
    'blank_line_before_return' => true,
    'phpdoc_scalar' => true,
    'self_accessor' => true,
    'phpdoc_no_package' => true,
    'single_class_element_per_statement' => true,
    'binary_operator_spaces' => true,
    'no_unused_imports' => true,
    'phpdoc_separation' => true,
    'phpdoc_align' => true,
    'single_quote' => true,
    'increment_style' => ['style' => 'post'],

    // new in 2.16.0
    'ordered_imports' => true,
    'blank_line_after_namespace' => true,
    'no_blank_lines_after_phpdoc' => true,
    'phpdoc_align' => true,
    'phpdoc_separation' => true,
    'phpdoc_summary' => true,
    'phpdoc_trim_consecutive_blank_line_separation' => true,
    'no_extra_blank_lines' => true,
    'single_blank_line_before_namespace' => true,
    'single_blank_line_at_eof' => true,
    'braces' => true,
    'no_unused_imports' => true,

    'no_superfluous_phpdoc_tags' => false,
    'single_line_throw' => false,
    'array_syntax' => false,
];

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setCacheFile(__DIR__ . '/.php_cs.cache')
    ->setRules($rules)
    ->setFinder($finder)
;
