#
# AIQA configuration file
#

aiqa:
    apiUrl: 'https://demo.aiqa.tech/api/'
    cliTimeout: 100.0
project:
    id: 16
    name: 'GEO API (PHP/BEHAT) [GITHUB]'
    rootFolder: 'geo-vagrant-symfony3'
git:
    mainBranch: 'master'
    binaryPath: '/usr/bin/git'
user:
    systemFamily: 'unix'
    # email: GIT_CONFIG
    # email: LAST_COMMIT_AUTHOR
    email: 'user@example.net'
    apiToken: '11de1ae1-f5d6-4894-9769-208608c17ea9'
testTool:
    type: 'parallel'
    reportPath: './__ci_parallel.log'
    regExp: '/^vendor\/bin\/behat --format=progress (.*\.feature)$/'
testCases:
    subfolder: 'behat'
    scenariosPath: './__ci_scenarios_list.txt'
    include:
        -
            directory: './features/api'
            fileMask: '*.feature'
    exclude:
srcFiles:
    subfolder: 'backend-php'
    include:
        -
            directory: './../backend-php/src/AppBundle/Controller'
            fileMask: '*.php'
        -
            directory: './../backend-php/src/AppBundle/RestApi'
            fileMask: '*.php'
        -
            directory: './features/api'
            fileMask: '*.feature'
    exclude:
        -
            directory: 'vendor'
configuration:
    exportFilename: 'someFile.yml'
pdepend:
    binaryPath: '/app-var/vendor/pdepend/pdepend/src/bin/pdepend'
encryption: false
