#
# AIQA configuration file
#

project:
    id: ???
    name: GEOGRAPHY
    url: https://demo.aiqa.tech/api/
    branch: master
    root: '.'
user:
    email: ???
    token: ???
    gitPath: '/usr/bin/git'
testCases:
    scenarios: './features/set/___all.scenarios'
    include:
        -
            directory: './features/api'
            fileMask: '*.feature'
    exclude:
srcFiles:
    include:
        -
            directory: './src/AppBundle/Controller'
            fileMask: '*.php'
        -
            directory: './src/AppBundle/RestApi'
            fileMask: '*.php'
        -
            directory: './features/api'
            fileMask: '*.feature'
    exclude:
        -
            directory: 'vendor'
subfolder: 'backend-php/'
configuration:
    exportFilename: someFile.yml
http:
    timeout: 100.0
test:
    parallel:
        path: './parallel.log'
filenameEncryption: false
